/* Header */
/* -------------------- */

.sg-header {
  margin-bottom: 1rem;
}
.sg-header__title {
  background-color: #3f51b5;
  color: #fff;
}
.sg-header__title h1 {
  margin: 10px 0;
  font-size: 2rem;
  text-transform: capitalize;
}
.sg-header__title a {
  color: #fff;
}
.sg-header nav {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}
.sg-header ul {
  margin: 0;
  padding: 5px 0;
  list-style: none;
}
.sg-header ul li {
  display: inline-block;
  margin-right: 5px;
  text-transform: capitalize;
}

/* Sidebar */
/* -------------------- */

.sg-aside {
  margin-bottom: 1rem;
  border: 1px solid #e9e9e9;
  padding: 0;
  border-radius: 2px;
}
.sg-aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sg-aside ul li {
  margin: 0;
  padding: 0;
}
.sg-aside ul li a {
  display: block;
  padding: 0.65rem 1rem;
}
.sg-aside ul li a:hover,
.sg-aside ul li a:focus {
  background-color: #f9f9f9;
}

/* Subheader */
/* -------------------- */

.sg-subheader h1 {
  font-size: 3rem;
  text-transform: capitalize;
}

/* Content */
/* -------------------- */

.sg-content {
  margin-bottom: 2rem;
}
.sg-content h1.styleguide:first-child {
  margin-top: 0;
}
.sg-content h1.styleguide {
  margin-top: 2rem;
  font-size: 2.5rem;
}
*:not(.exampleOutput) h2 {
  font-size: 2.2rem;
}
*:not(.exampleOutput) h3 {
  font-size: 1.8rem;
}
*:not(.exampleOutput) h4 {
  font-size: 1.4rem;
}
*:not(.exampleOutput) h5 {
  font-size: 1.2rem;
  font-weight: bold;
}
*:not(.exampleOutput) h6 {
  font-size: 1rem;
  font-weight: bold;
}

.codeExample {}
.codeExample .exampleOutput {
  position: relative;
  margin: 0;
  border: 1px solid #ccc;
  padding: 2rem 1rem 1rem;
  border-radius: 0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.codeExample .exampleOutput:before {
  position: absolute;
  content: "Example";
  left: 0;
  top: 0;

  display: block;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 1px 1px 0;
  padding: 2px;
  background-color: #f9f9f9;
  border-bottom-right-radius: 2px;
  font-size: 75%;
  color: #777;
}
.codeExample .codeBlock {
  margin: 0;
}

pre[class*="language-"] {
  margin: 0 0 1rem;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 1px 1px 1px;
  border-radius: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
code[class*="language-"] {
  border: none;
}

/* Content */
/* -------------------- */

.sg-footer {}
.sg-footer .sg-footer__content {
  margin-bottom: 1rem;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}
