@import 'settings';

.main-footer {
  padding: 1rem 0;
  background-color: $primary-color;
  color: #fff;
  animation: app-medium-appear-inverse 250ms ease-out;

  h1 {
    margin: 0 0 1rem;
  }
  a {
    color: #fff;

    &:hover,
    &:focus {
      color: darken(#fff, 5);
    }
  }

  @include breakpoint(medium) {
    h1 {
      margin: 0;
    }
    .row {
      .column:last-child {
        text-align: right;
      }
      .column:first-child {
        text-align: left;
      }
    }
  }

  // pseudo-selectors
  &:hover,
  &:focus {
    background-color: darken($primary-color, 5);
    transition: background-color 250ms;
  }
}
